<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>QRinfo用設定ファイル作成フォーム</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="/css/commonCss.css" th:href="@{/css/commonCss.css}" rel="stylesheet"/>
        <script src="/js/indexJs.js" th:src="@{/js/indexJs.js}"></script>
    </head>
    <body>
        <a href="qr">台帳ファイルからQRコードの作成をするときはこちら</a><br>
        <h1>ドラッグ＆ドロップでファイルアップロード</h1>
        <div id="dragdroparea">設定ファイルをここにドロップしてください。</div>
        <br/><br/>
        <a href="settingsFile_sample.xlsx">設定ファイルのサンプルはこちら</a><br>
        <div id="status1"></div>
    </body>
</html>