<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>QRinfo用QRコード作成フォーム</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
    #dragdroparea {
        border:2px dotted #0B85A1;
        width:500px;
        height: 100px;
        color:#92AAB0;
        text-align:left;vertical-align:middle;
        padding:10px 10px 10 10px;
        margin-bottom:10px;
        font-size:200%;
    }
    #schema {
        border:#FF1493 1px #0B85A1;
        border-radius:5px;
        box-shadow:1px 1px 2px #666;
        width:300px;
        height:30px;
        font-size:110%;
    }
    </style>
</head>
<body>
<p>QRコードの文頭につけるスキーマを入力してください</p>
<form id="schemaField"><input id="schema" type="text"/></form>
<h1>ドラッグ＆ドロップでファイルアップロード</h1>
<div id="dragdroparea">台帳ファイルをここにドロップしてください。</div>
<br/><br/>
<div id="status1"></div>
<script>
        $(function() {
        function sendFileToServer(formData,status){
        var uploadURL ="/generateQR";
          $.ajax({
            url: uploadURL,
            type: "POST",
            contentType:false,
            processData: false,
            cache: false,
            data: formData,
            timeout: 30000,
            beforeSend: function(xhr, settings) {
              //送信前の処理
            },
            complete: function(xhr, textStatus) {
              //通信完了
            },
            success: function(result, textStatus, xhr) {
              //ajax通信が成功した
              $("#status1").append("File upload Done<br>");
              $('#status1').append('<a href="qr_code">QRコード</a><br>');
            },
            error: function(xhr, textStatus, error) {
              //ajax通信が失敗した
              $('#status1').append('送信に失敗しました<br>');
            }
          });
      }
        function handleFileUpload(files,obj){
         var fd = new FormData();
           for (var i = 0; i < files.length; i++){
             fd.append('files', files[i]);
           }
           var schema = document.forms.schemaField.schema.value;
           fd.append('schema',schema)
           sendFileToServer(fd,status);
        }
        $(document).ready(function(){
            var obj = $("#dragdroparea");
            obj.on('dragenter', function (e) {
                e.stopPropagation();
                e.preventDefault();
            });
            obj.on('dragover', function (e) {
                 e.stopPropagation();
                 e.preventDefault();
            });
            obj.on('drop', function (e) {
             e.preventDefault();
             var files = e.originalEvent.dataTransfer.files;
             handleFileUpload(files);
            });
            $(document).on('dragenter', function (e){
                e.stopPropagation();
                e.preventDefault();
            });
            $(document).on('dragover', function (e){
              e.stopPropagation();
              e.preventDefault();
            });
            $(document).on('drop', function (e){
                e.stopPropagation();
                e.preventDefault();
            });
        });
    });


</script>
</body>
</html>