<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>QRinfo用QRコード作成フォーム</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="/css/commonCss.css" th:href="@{/css/commonCss.css}" rel="stylesheet"/>
        <script src="/js/qrJs.js" th:src="@{/js/qrJs.js}"></script>
    </head>
    <body>
    <br>
    <a href="settings">各種設定ファイルの作成とDLはこちら</a><br>
        <h1>ドラッグ＆ドロップでファイルアップロード</h1>
        <p>QRコードの文頭につけるスキーマを入力してください</p>
        <form id="schemaField"><input id="schema" type="text"/></form>
        <br><br>
        <div id="dragdroparea">台帳ファイルをここにドロップしてください。</div>
        <br><br>
        <div id="status1"></div>
    </body>
</html>